{
    "client": {
        "walletAddress": "0x0000000000000000000000000000000000000000",
        "password": "xx"
    },
    "ls": {
        "dbName": "aCis_ls",
        "dbPort": "3306",
        "dbUsername": "xxxx",
        "dbPassword": "xxxx",
        "dbTableColumns": {
            "accounts": {
                "accountUsername": "login",
                "accountPassword": "password"
            },
            "gameservers": {
                "gameserverId": "server_id"
            }
        }
    },
    "1": {
        "rewardTypeId": "26",
        "dbName": "aCis_gs",
        "dbIPAddress": "xxx.xxx.xxx.xxx",
        "dbPort": "3306",
        "dbUsername": "xxxx",
        "dbPassword": "xxxx",
        "dbTableColumns": {
            "characters": {
                "accountUsername": "account_name",
                "characterId": "obj_Id",
                "characterName": "char_name"
            },
            "items": {
                "characterId": "owner_id",
                "itemId": "object_id",
                "itemTypeId": "item_id",
                "itemAmount": "count"
            },
            "items_on_ground": {
                "itemId": "object_id"
            },
            "clan_data": {
                "clanId": "clan_id"
            },
            "mods_wedding": {
                "weddingId": "id"
            }
        }
    },
    "2": {
        "rewardTypeId": "6",
        "dbName": "aCis_gs",
        "dbIPAddress": "xxx.xxx.xxx.xxx",
        "dbPort": "3306",
        "dbUsername": "test",
        "dbPassword": "test",
        "dbTableColumns": {
            "characters": {
                "accountUsername": "account_name",
                "characterId": "obj_Id",
                "characterName": "char_name"
            },
            "items": {
                "characterId": "owner_id",
                "itemId": "object_id",
                "itemTypeId": "item_id",
                "itemAmount": "count"
            },
            "items_on_ground": {
                "itemId": "object_id"
            },
            "clan_data": {
                "clanId": "clan_id"
            },
            "mods_wedding": {
                "weddingId": "id"
            }
        }
    }
}