{
    "client": {
        "walletAddress": "0x41dA7A1e5085179F43758dC5F0a5bBEB012E07F1",
        "password": "aa"
    },
    "ls": {
        "dbName": "aCis_ls",
        "dbPort": "3306",
        "dbUsername": "test",
        "dbPassword": "test",
        "dbTableColumns": {
            "accounts": {
                "accountUsername": "login",
                "accountPassword": "password"
            },
            "gameservers": {
                "gameserverId": "server_id"
            }
        }
    },
    "1": {
        "rewardTypeId": "26",
        "dbName": "aCis_gs",
        "dbIPAddress": "85.72.161.249",
        "dbPort": "3306",
        "dbUsername": "test",
        "dbPassword": "test",
        "dbTableColumns": {
            "characters": {
                "accountUsername": "account_name",
                "characterId": "obj_Id",
                "characterName": "char_name"
            },
            "items": {
                "characterId": "owner_id",
                "itemId": "object_id",
                "itemTypeId": "item_id",
                "itemAmount": "count"
            },
            "items_on_ground": {
                "itemId": "object_id"
            },
            "clan_data": {
                "clanId": "clan_id"
            },
            "mods_wedding": {
                "weddingId": "id"
            }
        }
    },
    "2": {
        "rewardTypeId": "6",
        "dbName": "aCis_gs",
        "dbIPAddress": "94.71.106.171",
        "dbPort": "3306",
        "dbUsername": "test",
        "dbPassword": "test",
        "dbTableColumns": {
            "characters": {
                "accountUsername": "account_name",
                "characterId": "obj_Id",
                "characterName": "char_name"
            },
            "items": {
                "characterId": "owner_id",
                "itemId": "object_id",
                "itemTypeId": "item_id",
                "itemAmount": "count"
            },
            "items_on_ground": {
                "itemId": "object_id"
            },
            "clan_data": {
                "clanId": "clan_id"
            },
            "mods_wedding": {
                "weddingId": "id"
            }
        }
    }
}